#uzs {
border-radius: 15px;
background-color: rgb(80, 77, 77);
color: rgb(255, 255, 255);
}
#usd {
border-radius: 15px;
color: rgb(255, 255, 255);
background-color: rgb(80, 77, 77);
}
#ggrid {
background-color: black;
color: black;
}
#exit {
border-radius: 15px;
}
#main {
background-color: black;
}